# =============== #
# Unity generated #
# =============== #
Assets/Firebase/*
.vsconfig
.utmp/
obj/
Assets/AssetBundles/WebGL/
UnityGenerated/
Library/*
Logs/
.vscode/
.vscode/*
Logs/*
!ServerData/
!ServerData/iOS/
!Server/
!Library/com.unity.addressables/
!Library/com.unity.addressables/*
!Library/com.unity.addressables/iOS
RewiredBackup/
Assets/google-services.json
Assets/google-services.json.meta
.vs/
Temp/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/AssetBundles/WebGL/goalkeepers.1_100
Assets/AssetBundles/WebGL/goalkeepers.1_100.manifest
Assets/AssetBundles/WebGL/players.1_100
Assets/AssetBundles/WebGL/players.1_100.manifest
Assets/AssetBundles/WebGL/referis.1_100
Assets/AssetBundles/WebGL/referis.1_100.manifest
Assets/AssetBundles/WebGL/stadium.generic
Assets/AssetBundles/WebGL/stadium.generic.manifest
Assets/AssetBundles/WebGL/thumbs.1_100
Assets/AssetBundles/WebGL/thumbs.1_100.manifest
Assets/AssetBundles/WebGL/WebGL
Assets/AssetBundles/WebGL/WebGL.manifest
Assets/AssetBundles/WebGL/stadium.generic
Assets/AssetBundles/WebGL/stadium.generic.manifest
Assets/AssetBundles/WebGL/WebGL
Assets/AssetBundles/WebGL/WebGL.manifest
Assets/AssetBundles/Android/Android
Assets/AssetBundles/Android/Android.manifest
Assets/AssetBundles/Android/stadium.generic
Assets/AssetBundles/Android/stadium.generic.manifest
Assets/AssetBundles/WebGL/goalkeepers.1_100
Assets/AssetBundles/WebGL/goalkeepers.1_100.manifest
Assets/AssetBundles/WebGL/pinballs.generic
Assets/AssetBundles/WebGL/pinballs.generic.manifest
Assets/AssetBundles/WebGL/players.1_100
Assets/AssetBundles/WebGL/players.1_100.manifest
Assets/AssetBundles/WebGL/stadium.generic
Assets/AssetBundles/WebGL/stadium.generic.manifest
Assets/AssetBundles/WebGL/WebGL
Assets/AssetBundles/WebGL/WebGL.manifest
Assets/AssetBundles/WebGL/en/voices.1_100
Assets/AssetBundles/WebGL/en/voices.1_100.manifest
Assets/AssetBundles/WebGL/players.1_100
Assets/AssetBundles/WebGL/players.1_100.manifest
Assets/AssetBundles/WebGL/WebGL
Assets/AssetBundles/WebGL/WebGL.manifest
Assets/AssetBundles/iOS/en/goalkeepers.1_100
Assets/AssetBundles/iOS/en/goalkeepers.1_100.manifest
Assets/AssetBundles/iOS/en/players.1_100
Assets/AssetBundles/iOS/en/players.1_100.manifest
Assets/AssetBundles/iOS/en/voices.1_100
Assets/AssetBundles/iOS/en/voices.1_100.manifest
Assets/AssetBundles/iOS/goalkeepers.1_100
Assets/AssetBundles/iOS/goalkeepers.1_100.manifest
Assets/AssetBundles/iOS/iOS
Assets/AssetBundles/iOS/iOS.manifest
Assets/AssetBundles/iOS/pinballs.generic
Assets/AssetBundles/iOS/pinballs.generic.manifest
Assets/AssetBundles/iOS/players.1_100
Assets/AssetBundles/iOS/players.1_100.manifest
Assets/AssetBundles/iOS/referis.1_100
Assets/AssetBundles/iOS/referis.1_100.manifest
Assets/AssetBundles/iOS/stadium.generic
Assets/AssetBundles/iOS/stadium.generic.manifest
Assets/AssetBundles/iOS/thumbs.1_100
Assets/AssetBundles/iOS/thumbs.1_100.manifest
Assets/Resources/settings.json
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_3_0.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-10_3_0.bundle.meta
Packages/UP-Localization/
Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.so.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.so
Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.dll.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.dll
Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.bundle.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppStorage.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.so.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.so
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.dll.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.dll
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.bundle.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppFirestore.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.so.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.so
Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.dll.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.dll
Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.bundle.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppAuth.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.so.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.dll.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.dll
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.bundle.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_9_0.bundle
Assets/Firebase/Plugins/x86_64.meta
Assets/Firebase/Plugins/iOS/Firebase.Storage.pdb.meta
Assets/Firebase/Plugins/iOS/Firebase.Storage.pdb
Assets/Firebase/Plugins/iOS/Firebase.Storage.dll.meta
Assets/Firebase/Plugins/iOS/Firebase.Storage.dll
Assets/Firebase/Plugins/iOS/Firebase.Firestore.pdb.meta
Assets/Firebase/Plugins/iOS/Firebase.Firestore.pdb
Assets/Firebase/Plugins/iOS/Firebase.Firestore.dll.meta
Assets/Firebase/Plugins/iOS/Firebase.Firestore.dll
Assets/Firebase/Plugins/iOS/Firebase.Auth.pdb.meta
Assets/Firebase/Plugins/iOS/Firebase.Auth.pdb
Assets/Firebase/Plugins/iOS/Firebase.Auth.dll.meta
Assets/Firebase/Plugins/iOS/Firebase.Auth.dll
Assets/Firebase/Plugins/iOS/Firebase.App.pdb.meta
Assets/Firebase/Plugins/iOS/Firebase.App.pdb
Assets/Firebase/Plugins/iOS/Firebase.App.dll.meta
Assets/Firebase/Plugins/iOS/Firebase.App.dll
Assets/Firebase/Plugins/iOS.meta
Assets/Firebase/Plugins/Google.MiniJson.dll.meta
Assets/Firebase/Plugins/Google.MiniJson.dll
Assets/Firebase/Plugins/Firebase.TaskExtension.pdb.meta
Assets/Firebase/Plugins/Firebase.TaskExtension.pdb
Assets/Firebase/Plugins/Firebase.TaskExtension.dll.meta
Assets/Firebase/Plugins/Firebase.TaskExtension.dll
Assets/Firebase/Plugins/Firebase.Storage.pdb.meta
Assets/Firebase/Plugins/Firebase.Storage.pdb
Assets/Firebase/Plugins/Firebase.Storage.dll.meta
Assets/Firebase/Plugins/Firebase.Storage.dll
Assets/Firebase/Plugins/Firebase.Platform.pdb.meta
Assets/Firebase/Plugins/Firebase.Platform.pdb
Assets/Firebase/Plugins/Firebase.Platform.dll.meta
Assets/Firebase/Plugins/Firebase.Platform.dll
Assets/Firebase/Plugins/Firebase.Firestore.pdb.meta
Assets/Firebase/Plugins/Firebase.Firestore.pdb
Assets/Firebase/Plugins/Firebase.Firestore.dll.meta
Assets/Firebase/Plugins/Firebase.Firestore.dll
Assets/Firebase/Plugins/Firebase.Auth.pdb.meta
Assets/Firebase/Plugins/Firebase.Auth.pdb
Assets/Firebase/Plugins/Firebase.Auth.dll.meta
Assets/Firebase/Plugins/Firebase.Auth.dll
Assets/Firebase/Plugins/Firebase.App.pdb.meta
Assets/Firebase/Plugins/Firebase.App.pdb
Assets/Firebase/Plugins/Firebase.App.dll.meta
Assets/Firebase/Plugins/Firebase.App.dll
Assets/Firebase/Plugins.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/maven-metadata.xml.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/maven-metadata.xml
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.9.0/firebase-storage-unity-12.9.0.srcaar.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.9.0/firebase-storage-unity-12.9.0.srcaar
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.9.0/firebase-storage-unity-12.9.0.pom.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.9.0/firebase-storage-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.9.0.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/maven-metadata.xml.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/maven-metadata.xml
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.9.0/firebase-firestore-unity-12.9.0.srcaar.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.9.0/firebase-firestore-unity-12.9.0.srcaar
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.9.0/firebase-firestore-unity-12.9.0.pom.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.9.0/firebase-firestore-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.9.0.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/maven-metadata.xml.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/maven-metadata.xml
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.9.0/firebase-auth-unity-12.9.0.srcaar.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.9.0/firebase-auth-unity-12.9.0.srcaar
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.9.0/firebase-auth-unity-12.9.0.pom.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.9.0/firebase-auth-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.9.0.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/maven-metadata.xml.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/maven-metadata.xml
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0/firebase-app-unity-12.9.0.srcaar.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0/firebase-app-unity-12.9.0.srcaar
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0/firebase-app-unity-12.9.0.pom.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0/firebase-app-unity-12.9.0.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.9.0.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity.meta
Assets/Firebase/m2repository/com/google/firebase.meta
Assets/Firebase/m2repository/com/google.meta
Assets/Firebase/m2repository/com.meta
Assets/Firebase/m2repository.meta
Assets/Firebase/Editor/StorageDependencies.xml.meta
Assets/Firebase/Editor/StorageDependencies.xml
Assets/Firebase/Editor/network_request.py.meta
Assets/Firebase/Editor/network_request.py
Assets/Firebase/Editor/network_request.exe.meta
Assets/Firebase/Editor/network_request.exe
Assets/Firebase/Editor/generate_xml_from_google_services_json.py.meta
Assets/Firebase/Editor/generate_xml_from_google_services_json.py
Assets/Firebase/Editor/generate_xml_from_google_services_json.exe.meta
Assets/Firebase/Editor/generate_xml_from_google_services_json.exe
Assets/Firebase/Editor/FirestoreDependencies.xml.meta
Assets/Firebase/Editor/FirestoreDependencies.xml
Assets/Firebase/Editor/FirebaseStorage_version-12.9.0_manifest.txt.meta
Assets/Firebase/Editor/FirebaseStorage_version-12.9.0_manifest.txt
Assets/Firebase/Editor/FirebaseFirestore_version-12.9.0_manifest.txt.meta
Assets/Firebase/Editor/FirebaseFirestore_version-12.9.0_manifest.txt
Assets/Firebase/Editor/FirebaseAuth_version-12.9.0_manifest.txt.meta
Assets/Firebase/Editor/FirebaseAuth_version-12.9.0_manifest.txt
Assets/Firebase/Editor/Firebase.Editor.pdb.meta
Assets/Firebase/Editor/Firebase.Editor.pdb
Assets/Firebase/Editor/Firebase.Editor.dll.meta
Assets/Firebase/Editor/Firebase.Editor.dll
Assets/Firebase/Editor/AuthDependencies.xml.meta
Assets/Firebase/Editor/AuthDependencies.xml
Assets/Firebase/Editor/AppDependencies.xml.meta
Assets/Firebase/Editor/AppDependencies.xml
Assets/Firebase/Editor.meta
Assets/Firebase.meta
Assets/Plugins/iOS/Firebase/libFirebaseCppApp.a
Assets/Plugins/iOS/Firebase/libFirebaseCppApp.a.meta
Assets/Plugins/iOS/Firebase/libFirebaseCppAuth.a
Assets/Plugins/iOS/Firebase/libFirebaseCppAuth.a.meta
Assets/Plugins/iOS/Firebase/libFirebaseCppFirestore.a
Assets/Plugins/iOS/Firebase/libFirebaseCppFirestore.a.meta
Assets/Plugins/iOS/Firebase/libFirebaseCppStorage.a
Assets/Plugins/iOS/Firebase/libFirebaseCppStorage.a.meta
Assets/Plugins/tvOS/Firebase.meta
Assets/Plugins/tvOS/Firebase/libFirebaseCppApp.a
Assets/Plugins/tvOS/Firebase/libFirebaseCppApp.a.meta
Assets/Plugins/tvOS/Firebase/libFirebaseCppAuth.a
Assets/Plugins/tvOS/Firebase/libFirebaseCppAuth.a.meta
Assets/Plugins/tvOS/Firebase/libFirebaseCppFirestore.a
Assets/Plugins/tvOS/Firebase/libFirebaseCppFirestore.a.meta
Assets/Plugins/tvOS/Firebase/libFirebaseCppStorage.a
Assets/Plugins/tvOS/Firebase/libFirebaseCppStorage.a.meta
Assets/Editor Default Resources/Firebase/fb_analytics.png.meta
Assets/Editor Default Resources/Firebase/fb_analytics_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_auth.png.meta
Assets/Editor Default Resources/Firebase/fb_auth_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_cloud_messaging.png.meta
Assets/Editor Default Resources/Firebase/fb_cloud_messaging_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_config.png.meta
Assets/Editor Default Resources/Firebase/fb_config_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_crashlytics.png.meta
Assets/Editor Default Resources/Firebase/fb_crashlytics_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_database.png.meta
Assets/Editor Default Resources/Firebase/fb_database_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_dynamic_links.png.meta
Assets/Editor Default Resources/Firebase/fb_dynamic_links_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_functions.png.meta
Assets/Editor Default Resources/Firebase/fb_functions_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_invites.png.meta
Assets/Editor Default Resources/Firebase/fb_invites_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_storage.png.meta
Assets/Editor Default Resources/Firebase/fb_storage_dark.png.meta
Assets/Editor Default Resources/Firebase/firebase_lockup.png.meta
Assets/Editor Default Resources/Firebase/firebase_lockup_dark.png.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.IOSResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.IOSResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.JarResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.JarResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.PackageManagerResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.PackageManagerResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.VersionHandlerImpl.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.VersionHandlerImpl.pdb.meta
Assets/ExternalDependencyManager/Editor/CHANGELOG.md
Assets/ExternalDependencyManager/Editor/CHANGELOG.md.meta
Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.186_manifest.txt
Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.186_manifest.txt.meta
Assets/ExternalDependencyManager/Editor/Google.VersionHandler.dll.meta
Assets/ExternalDependencyManager/Editor/Google.VersionHandler.pdb.meta
Assets/ExternalDependencyManager/Editor/LICENSE
Assets/ExternalDependencyManager/Editor/LICENSE.meta
Assets/ExternalDependencyManager/Editor/README.md
Assets/ExternalDependencyManager/Editor/README.md.meta
Assets/Firebase/Editor/FirebaseAuth_version-12.10.1_manifest.txt
Assets/Firebase/Editor/FirebaseAuth_version-12.10.1_manifest.txt.meta
Assets/Firebase/Editor/FirebaseFirestore_version-12.10.1_manifest.txt
Assets/Firebase/Editor/FirebaseFirestore_version-12.10.1_manifest.txt.meta
Assets/Firebase/Editor/FirebaseStorage_version-12.10.1_manifest.txt
Assets/Firebase/Editor/FirebaseStorage_version-12.10.1_manifest.txt.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.10.1.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.10.1/firebase-app-unity-12.10.1.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.10.1/firebase-app-unity-12.10.1.pom.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.10.1/firebase-app-unity-12.10.1.srcaar
Assets/Firebase/m2repository/com/google/firebase/firebase-app-unity/12.10.1/firebase-app-unity-12.10.1.srcaar.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.10.1.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.10.1/firebase-auth-unity-12.10.1.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.10.1/firebase-auth-unity-12.10.1.pom.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.10.1/firebase-auth-unity-12.10.1.srcaar
Assets/Firebase/m2repository/com/google/firebase/firebase-auth-unity/12.10.1/firebase-auth-unity-12.10.1.srcaar.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.10.1.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.10.1/firebase-firestore-unity-12.10.1.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.10.1/firebase-firestore-unity-12.10.1.pom.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.10.1/firebase-firestore-unity-12.10.1.srcaar
Assets/Firebase/m2repository/com/google/firebase/firebase-firestore-unity/12.10.1/firebase-firestore-unity-12.10.1.srcaar.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.10.1.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.10.1/firebase-storage-unity-12.10.1.pom
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.10.1/firebase-storage-unity-12.10.1.pom.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.10.1/firebase-storage-unity-12.10.1.srcaar
Assets/Firebase/m2repository/com/google/firebase/firebase-storage-unity/12.10.1/firebase-storage-unity-12.10.1.srcaar.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_1.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_1.bundle.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_1.dll
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_1.dll.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_1.so
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_10_1.so.meta
Assets/Editor Default Resources/Firebase/fb_analytics.png.meta
Assets/Editor Default Resources/Firebase/fb_analytics_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_auth.png.meta
Assets/Editor Default Resources/Firebase/fb_auth_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_cloud_messaging.png.meta
Assets/Editor Default Resources/Firebase/fb_cloud_messaging_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_config.png.meta
Assets/Editor Default Resources/Firebase/fb_config_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_crashlytics.png.meta
Assets/Editor Default Resources/Firebase/fb_crashlytics_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_database.png.meta
Assets/Editor Default Resources/Firebase/fb_database_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_dynamic_links.png.meta
Assets/Editor Default Resources/Firebase/fb_dynamic_links_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_functions.png.meta
Assets/Editor Default Resources/Firebase/fb_functions_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_invites.png.meta
Assets/Editor Default Resources/Firebase/fb_invites_dark.png.meta
Assets/Editor Default Resources/Firebase/fb_storage.png.meta
Assets/Editor Default Resources/Firebase/fb_storage_dark.png.meta
Assets/Editor Default Resources/Firebase/firebase_lockup.png.meta
Assets/Editor Default Resources/Firebase/firebase_lockup_dark.png.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.IOSResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.IOSResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.JarResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.JarResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.PackageManagerResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.PackageManagerResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.VersionHandlerImpl.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.186/Google.VersionHandlerImpl.pdb.meta
Assets/ExternalDependencyManager/Editor/CHANGELOG.md
Assets/ExternalDependencyManager/Editor/CHANGELOG.md.meta
Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.186_manifest.txt
Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.186_manifest.txt.meta
Assets/ExternalDependencyManager/Editor/Google.VersionHandler.dll.meta
Assets/ExternalDependencyManager/Editor/Google.VersionHandler.pdb.meta
Assets/ExternalDependencyManager/Editor/LICENSE
Assets/ExternalDependencyManager/Editor/LICENSE.meta
Assets/ExternalDependencyManager/Editor/README.md
Assets/ExternalDependencyManager/Editor/README.md.meta
*.so
*.bundle
Assets/ExternalDependencyManager/Editor/1.2.186.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.IOSResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.IOSResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.JarResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.JarResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.PackageManagerResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.PackageManagerResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.VersionHandlerImpl.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.VersionHandlerImpl.pdb.meta
Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.187_manifest.txt
Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.187_manifest.txt.meta
Assets/Firebase/Editor/AnalyticsDependencies.xml.meta
Assets/Firebase/Editor/DatabaseDependencies.xml.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-analytics-unity.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-analytics-unity/maven-metadata.xml.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/maven-metadata.xml.meta
Assets/Firebase/Plugins/Firebase.Analytics.dll.meta
Assets/Firebase/Plugins/Firebase.Analytics.pdb.meta
Assets/Firebase/Plugins/Firebase.Database.dll.meta
Assets/Firebase/Plugins/Firebase.Database.pdb.meta
Assets/Firebase/Plugins/iOS/Firebase.Analytics.dll.meta
Assets/Firebase/Plugins/iOS/Firebase.Analytics.pdb.meta
Assets/Firebase/Plugins/iOS/Firebase.Database.dll.meta
Assets/Firebase/Plugins/iOS/Firebase.Database.pdb.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.bundle.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.dll.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.so.meta
Assets/Plugins/Android/FirebaseApp.androidlib.meta
Assets/Plugins/Android/FirebaseApp.androidlib/AndroidManifest.xml
Assets/Plugins/Android/FirebaseApp.androidlib/project.properties
Assets/Plugins/Android/FirebaseApp.androidlib/res/values/google-services.xml
Assets/Plugins/iOS/Firebase.meta
Assets/Plugins/iOS/Firebase/libFirebaseCppAnalytics.a.meta
Assets/Plugins/iOS/Firebase/libFirebaseCppDatabase.a.meta
Assets/Plugins/tvOS/Firebase/libFirebaseCppAnalytics.a.meta
Assets/Plugins/tvOS/Firebase/libFirebaseCppDatabase.a.meta
Assets/Plugins/tvOS/Firebase/libFirebaseCppDatabase.a.meta
Assets/Plugins/tvOS/Firebase/libFirebaseCppAnalytics.a.meta
Assets/Plugins/iOS/Firebase/libFirebaseCppDatabase.a.meta
Assets/Plugins/iOS/Firebase/libFirebaseCppAnalytics.a.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.so.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.dll.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppDatabase.bundle.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.dll.meta
Assets/Firebase/Plugins/iOS/Firebase.Database.pdb.meta
Assets/Firebase/Plugins/iOS/Firebase.Database.dll.meta
Assets/Firebase/Plugins/iOS/Firebase.Analytics.pdb.meta
Assets/Firebase/Plugins/iOS/Firebase.Analytics.dll.meta
Assets/Firebase/Plugins/Firebase.Database.pdb.meta
Assets/Firebase/Plugins/Firebase.Database.dll.meta
Assets/Firebase/Plugins/Firebase.Analytics.pdb.meta
Assets/Firebase/Plugins/Firebase.Analytics.dll.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-database-unity/maven-metadata.xml.meta
Assets/Firebase/m2repository/com/google/firebase/firebase-analytics-unity/maven-metadata.xml.meta
Assets/Firebase/Editor/DatabaseDependencies.xml.meta
Assets/Firebase/Editor/AnalyticsDependencies.xml.meta
Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.187_manifest.txt.meta
Assets/ExternalDependencyManager/Editor/external-dependency-manager_version-1.2.187_manifest.txt
Assets/ExternalDependencyManager/Editor/1.2.187/Google.VersionHandlerImpl.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.VersionHandlerImpl.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.PackageManagerResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.PackageManagerResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.JarResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.JarResolver.dll.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.IOSResolver.pdb.meta
Assets/ExternalDependencyManager/Editor/1.2.187/Google.IOSResolver.dll.meta
